<li data-id="<%=post_element.id%>" class="mb-2 p-2 mx-auto bg-white rounded-md overflow-hidden shadow-lg hover:bg-slate-100 transition duration-100 cursor-pointer" data-controller="editpost">
    <%=  post_element.content %>
</li>