<div class="w-full pt-4">
  <div class="rounded overflow-hidden shadow-md bg-white">
    <%= image_tag @post.header_image, class: "w-full h-64 rounded-t object-cover" %>
  <div class="px-6">
    <div class="font-bold text-xl mb-2">
      <%= @post.title %>
    </div>
    <div class="p-6 flex flex-col">
      <!-- Content goes here -->
      <% @post.post_elements.each do |element| %>
        <%= render 'post_element', post_element: element %>
        <br>
      <% end %>
    </div>
  </div>
</div>