<div id="<%= dom_id comment %>">
  <div class="border rounded-md p-2 mb-2">
    <p class="text-gray-700"><%= comment.body %></p>
    <div class="text-right">
      <% if current_user == comment.user %>
        <%= link_to 'Edit', edit_post_comment_path(@post, comment), class: "text-green-600 hover:underline" %>
      <% end %>

      <% if current_user && (current_user == comment.user || current_user.admin?) %>
        <%= button_to "delete", post_comment_path(@post, comment), method: :delete%>
      <% end %>
    </div>
  </div>
</div>
