<li class=" max-w-lg mb-2 p-1 mx-auto bg-white transition duration-100 cursor-pointer">
    <div class="leading-6 mb-2">
        <%= image_tag image.image, class: 'w-full mb-4 rounded-md' %>
    </div>
</li>