<%= turbo_frame_tag 'post' do %>
  <div class="mx-auto 4xl:w-3/4 w-full">

    <div class="flex flex-col md:grid md:grid-cols-3 gap-2">
      <span class="md:col-span-1">
        <%#= link_to "Back", posts_path, class: "block mb-1 rounded-sm py-2 md:mt-3 px-4 bg-red-500 text-white hover:bg-red-600 inline-block font-medium", data: {turbo: false} %>
        <!-- Form for editing the post -->
      </span>


        <!--Rendering Each Post Element -->
        <div class="flex-grow mx-auto bg-white rounded-sm overflow-hidden shadow-md">
          
            <div class="bg-gray-200 p-4 border-b border-gray-300 text-right">
                Published <%= time_ago_in_words(@post.published_at) %> ago.
            </div>

            
            <% @post.post_elements.each do |element| %>
                <% if element.persisted? %>
                <%= render partial: 'authors/post_elements/post_element', locals: { post_element: element } %>
                <% end %>
            <% end %>
        </div>

      </span>
    </div>

  </div>
<% end %>