<li data-id="<%=post_element.id%>" class=" max-w-lg mb-2 p-1 mx-auto bg-white shadow-lg hover:bg-slate-100 transition duration-100 cursor-pointer">
    <div class="leading-6 mb-2">
    <%= image_tag post_element.image, class: 'w-full mb-4 rounded-md' %>
    </div>
</li>