<%= turbo_frame_tag "admin-content" do %>
    <div class="overflow-x">
        <div class="min-w-full divide-y divide-gray-200">
            <!-- Header -->
            <div class="bg-gray-50 grid grid-cols-5">
                <div class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Name
                </div>
                <div class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Status
                </div>
                <div class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Role
                </div>
                <div class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Update
                </div>
                <div class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Delete
                </div>
            </div>

            <!-- User Rows -->
            <div class="bg-white divide-y divide-gray-200">
                <% @users.each do |user| %>
                    <%= render "user", user: user %>
                <% end %>
            </div>
        </div>

    </div>
<%end%>