<div class="container mx-auto p-4 h-full border-t-2">
    <!-- Sidebar -->
    <nav class="bg-white border-gray-200 pb-2" data-controller="hamburger">
        <div class="max-w-screen-xl flex flex-wrap items-center mx-auto p-4 justify-end md:justify-center">
            <div class="items-stretch hidden md:flex space-x-3" data-hamburger-target="menu">
                <ul class="flex justify-center gap-4 items-center w-full">
                    <li class="flex">
                        <a href="">Posts</a>
                    </li>
                    <li class="flex">
                        <a href="">Users</a>
                    </li>
                </ul>
            </div>
            <button title="Button" type="button" class="p-4 md:hidden" data-hamburger-target="button">
                <%= image_tag "chevron-left", class: "w-6 dark:text-gray-800", data: {hamburger_target: "menuIcon" } %>
                <%= image_tag "closed_menu", class: "hidden w-6 dark:text-gray-800", data: {hamburger_target: "closeIcon" } %>
            </button>
        </div>
    </nav>

    <!-- Main content -->
    <div class="overflow-auto shadow-md sm:rounded-lg">
        <%= render "users", users: @users %>
    </div>
    <!-- Use turbo frames to make this automatically populate the various admin pages -->
</div>