<div class="pt-6 pb-4 space-y-2">
    <span>12 June</span>
    <h1 class="text-3xl font-bold"><%=post.title%></h1>
    <p><%=post.description%></p>
    <%= link_to post_path(post), class: "inline-flex items-center py-2 space-x-2 text-sm dark:text-violet-600 text-violet-700 hover:text-violet-900 hover:underline" do %>
        <span>Read more</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
    <%end%>
</div>