<div class="relative bg-white overflow-hidden mt-8">
    <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
                fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                <polygon points="50,0 100,0 50,100 0,100"></polygon>
            </svg>

            <div class="pt-1"></div>

            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                <div class="sm:text-center lg:text-left">
                    <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">
                        About us
                    </h2>

                    <p>
                        Briana, a Physical Therapist, and Axel a Software Developer set off together on various misadventures and escapades.
                        Follow us as we traipse through the Mountains, Canyons, Deserts, Rainforests, and any and all other natural mysteries
                        that may reveal themselves unto us.  We're two nature lovin' weirdos on their second lap around with one another.
                        Taggin along is none other than Arlo Guthrie, Senior Bowl Cleaner, General Rabbit Hunter, and Best Boy along the adventures.
                        Peace and Love.
                    </p>
                </div>
            </main>
        </div>
    </div>
    <!-- Carousel -->
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <div class="text-center overflow-hidden flex items-center justify-center p-2 h-full">
            <div data-controller="carousel" class="h-full overflow-x-auto overflow-y-hidden flex snap-x snap-mandatory">
                <% @photos.each do |img| %>
                    <div class="snap-center flex-shrink-0 w-full h-full bg-cover bg-center rounded-lg">
                        <%= image_tag img.image, alt: img.title, class: "w-full h-96 object-cover" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
