<div class="flex flex-col h-screen w-full">
    <header class="p-4 justify-self-start flex justify-around w-full bg-slate-200">
        <div class="font-moon font-bold text-2xl" >
            A Little Travel Story
        </div>
    </header>

    <div class="grow text-center overflow-hidden flex items-center justify-center p-2"> <!--  -->
        <div class="h-full w-64 overflow-x-auto grow flex items-center scroll-auto snap-x snap-mandatory gap-2" data-controller="carousel"> <!-- Slider Container -->
            <% #images
                images = [
                    {
                        title: "thewhites",
                        alt: "The White Mountains"
                    },
                    {
                        title: "killington",
                        alt: "Killington, Vermont"
                    },
                    {
                        title: "snack-on-mountain-lake",
                        alt: "A Snack on top of a lake overlooking a mountain"
                    },
                    {
                        title: "axel-and-arlo",
                        alt: "A man and his dog with a mountain sunset behind"
                    }
                ]
            %>
            <%images.each do |img| %>
                <div data-carousel-target="slide" class="min-w-full min-h-full snap-center grid origin-center scale-100 transition-transform relative bg-red-200 border-2 relative">
                    <%= image_tag img[:title],
                        alt: img[:alt],
                        class: "max-h-full"
                    
                    %>
                </div>
            <% end %>

        </div>
    </div>

    <nav class="self-end bg-slate-200 p-2 w-screen flex justify-center items-center">  
        <ul class="flex gap-2">
            <li>
                <%= link_to 'Journal' %>
            </li>
            <li>
                <%= link_to 'Photos' %>
            </li>
            <li>
                <%= link_to 'Map' %>
            </li>
        </ul>
    </nav>
</div>