<section class="relative py-20 overflow-hidden">
  <img class="absolute top-0 right-0 xl:mt-10 -mr-24 lg:-mr-0" src="saturn-assets/images/blog/star-circle-right.svg" alt="">
  <img class="hidden sm:block absolute bottom-0 left-0 -mb-48 lg:mb-0" src="saturn-assets/images/blog/blue-light-left.png" alt="">
  <div class="relative container px-4 mx-auto">
    <div class="max-w-xl lg:max-w-7xl mx-auto">
      <div class="max-w-2xl mx-auto mb-15 text-center">
        <span class="inline-block py-1 px-3 mb-4 text-xs font-semibold text-orange-900 bg-orange-50 rounded-full">Our Blog</span>
        <h1 class="font-heading text-5xl xs:text-6xl md:text-7xl font-bold">
          <span>Travels &</span>
          <span class="font-serif italic">Updates</span>
        </h1>
      </div>
      <div class="flex flex-wrap -mx-4 mb-18">
        <div class="w-full lg:w-1/2 px-4 mb-12 lg:mb-0">
          <a class="block group w-full" href="#">
            <img class="block w-full mb-5" src="saturn-assets/images/blog/article-big.png" alt="">
            <span class="block text-gray-500 mb-5">Jul 20, 2022</span>
            <h4 class="text-3xl font-semibold text-gray-900 group-hover:text-orange-900 mb-5">Consectures Dummy Content Velit officia consequat duis enim velit</h4>
            <p class="max-w-xl text-lg text-gray-500">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit xercitation veniam consequat sunt nostrud amet.</p>
          </a>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <% @posts.each do |post| %>
            <%= render 'post_card', post: post %>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= link_to posts_path, class: "relative group inline-block py-4 px-7 font-semibold text-orange-900 hover:text-orange-50 rounded-full bg-orange-50 transition duration-300 overflow-hidden" do %>
          <div class="absolute top-0 right-full w-full h-full bg-gray-900 transform group-hover:translate-x-full group-hover:scale-102 transition duration-500"></div>
          <span class="relative">See More Articles</span>
        <% end %>
      </div>
    </div>
  </div>
</section>