<div class="flex flex-col h-screen w-full">
    <header class="p-4 justify-self-start flex justify-around w-full bg-slate-200">
        <div>
            A Little Love Story
        </div>

        <ul class="flex gap-2">
            <li>
                <%= link_to 'Journal' %>
            </li>
            <li>
                <%= link_to 'Photos' %>
            </li>
            <li>
                <%= link_to 'Map' %>
            </li>
        </ul>
    </header>

    <div class="h-full">
        
    </div>

    <nav class="self-end bg-slate-200 p-2 w-full flex justify-center items-center">
        ❤️
    </nav>
</div>