<div data-controller="image-modal" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
    <% @photos.each do |photo| %>
        <div class="group cursor-pointer relative">
            <%= image_tag photo, class: "w-full h-48 object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105", data: { image_modal_target: "sourceImage" } %>
        </div>
    <% end %>

    <div data-image-modal-target="modal" tabindex="-1" aria-hidden="true" class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-center h-screen w-screen md:inset-0 h-[calc(100%-1rem)] max-h-full" data-action="click->image-modal#closeModal">
        <div class="absolute inset-0 bg-black bg-opacity-60 h-screen w-screen"></div>
        <div class="w-full h-full flex justify-center items-center">
            <div class="relative p-4 w-full max-w-2xl max-h-full flex items-center justify-center">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <div class="p-4 md:p-5 space-y-4">
                        <img src="" alt="" class="h-auto max-w-full rounded-lg" data-image-modal-target="targetImage">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>