<div class="pb-2">
    <%= render @post %>
    <div class="mt-4 rounded overflow-hidden shadow-md bg-white px-6 py-4 shadow-md">
        <% if @post.comments.length != 0 %>
            <%= turbo_frame_tag "comments_section" do %>
                <div>
                    <h3 class="text-md font-semibold text-sky-700 mb-2">Comments:</h3>
                    <%= render partial: 'comments/comment', collection: @post.comments, as: :comment %>
                    </div>
            <% end %>
        <% else %>
            <div>
                <h3 class="text-md font-semibold text-sky-700 mb-2">Comments:</h3>
            </div>
        <% end %>
        <% if user_signed_in? %>
            <%= render 'new_comment_button', post: @post %>
        <% end %>
    </div>
</div>