@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
}

@font-face {
    font-family: "moon";
    src: url("moon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-moon {
    font-family: "moon", 'Times New Roman', Times, serif;
}
