@import 'actiontext.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    pre {
        @apply bg-gray-800 text-white p-4 rounded-md overflow-x-auto !important;
    }
}

@font-face {
    font-family: "moon";
    src: url("moon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
