<div class="max-w-md mx-auto bg-white shadow-md rounded-lg overflow-hidden mt-10">
    <div class="p-6">
        <h1 class="text-2xl font-bold text-gray-800">Welcome <%= @user.email %>!</h1>
        <p class="mt-4 text-gray-600">You can confirm your account email through the link below:</p>
        <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>"
            class="inline-block mt-6 bg-pink-500 text-white py-2 px-4 rounded hover:bg-pink-600">
            Confirm my account
        </a>
    </div>
</div>