<%= turbo_frame_tag "admin-content" do %>
  <div class="grid grid-cols-3 gap-4">
    <!-- Image Grid -->
    <% @images.each do |img| %> 
        <%= render "image", image: img %>
    <% end %>
  </div>
<% end %>