<%= turbo_frame_tag "admin-content" do %>
  <div class="grid grid-cols-3 gap-4">
    <!-- Image Grid -->
    <% @images.each do |img| %> 
        <%= render "image", image: img %>
    <% end %>

    <!-- New Image Form -->
    <div class="col-span-3">
      <%= render "form" %>
    </div>
  </div>
<% end %>