<div class="flex flex-col h-screen w-full">
    <header class="p-4 justify-self-start flex justify-around w-full bg-slate-200">
        <div class="font-moon font-bold text-2xl" >
            A Little Love Story
        </div>
    </header>

    <div class="grow text-center overflow-hidden flex items-center justify-center p-2 md:px-40 lg:mx-40">
        <div class="h-full overflow-x-auto overflow-y-hidden grow flex items-center scroll-auto snap-x snap-mandatory gap-2" data-controller="carousel" > <!-- Slider Container -->
            <% #images
                images = [
                    {
                        title: "thewhites",
                        alt: "The White Mountains"
                    },
                    {
                        title: "killington",
                        alt: "Killington, Vermont"
                    },
                    {
                        title: "axel-and-arlo",
                        alt: "A man and his dog with a mountain sunset behind"
                    },
                    {
                        title: "briana_and_arlo_on_rock_2023",
                        alt: "Briana and Dog on the Rock"
                    },
                    {
                        title: "cabin_cuddle_winter_2023",
                        alt: "Briana and Axel in the New House Winter 2023"
                    },
                    {
                        title: "muse_5k_2023",
                        alt: "Post 5k Smiles"
                    },
                    {
                        title: "winter_dam_2023",
                        alt: "Smiling together on the dam, Winter of 2023"
                    }
                ]
            %>
            <%images.each_with_index do |img, idx| %>
                <div data-carousel-target="slide" class="min-w-full min-h-full snap-center grid origin-center scale-100 transition-transform items-center relative overflow-hidden w-full h-full bg-cover bg-center rounded-lg">
                        <div class="relative overflow-hidden h-full">
                            <%= image_tag img[:title],
                                alt: img[:alt],
                                class: "object-cover object-center w-full h-full",
                                id: "slide_" + idx.to_s
                            %>
                        </div>
                </div>
            <% end %>

        </div>
    </div>

    <nav class="self-end bg-slate-200 p-2 w-screen flex justify-center">  
        <ul class="flex gap-2 text-center">
            <li>
                <%= link_to 'Journal', blog_path %>
            </li>
            <li>
                <%= link_to 'Photos', photos_path %>
            </li>
            <li>
                <%= link_to 'Map' %>
            </li>
        </ul>
    </nav>
</div>